name: Lint Triage Scripts

on:
  push:
    branches:
      - main
      - testing
  pull_request:
    branches:
      - main
      - testing

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1

      - name: Run Ruff (latest)
        uses: astral-sh/ruff-action@v3
        with:
          version: latest
